In [1]:
import numpy as np
import pandas as pd
import os
import glob
import superskrypt as sp
from scipy import stats

In [2]:
PTH = r"C:\Users\LEON-NETB\Dropbox\LEON_CIECHANOWSKI\DANE"
os.chdir(PTH)
print(os.getcwd())

C:\Users\LEON-NETB\Dropbox\LEON_CIECHANOWSKI\DANE

In [6]:
df = "s1.txt"
df = pd.read_csv(df, sep='\t')
df = pd.DataFrame(df)

In [4]:
def is_odd(num):
    return num % 2

In [10]:
db2

,comp_r_RT,comp_l_RT,incomp_r_RT,incomp_l_RT,neut_r_RT,neut_l_RT,comp_RT,incomp_RT,neut_RT
1,346.888889,338.439394,354.273973,363.176471,330.2,340.873016,342.664141,358.725222,335.536508

In [12]:
subj_num = []

d2 = pd.DataFrame()
db = sp.get_color_info(df)
db2 = sp.get_RT(df)
d2 = pd.concat([db, db2], axis=1)
#d2 = d2.append(db, ignore_index=True)
#d2 = d2.append(db2, ignore_index=True)

print('Done!')
d2

D:\Miniconda3\envs\py3\lib\site-packages\pandas\core\indexing.py:415: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

TypeError: cannot concatenate a non-NDFrame object

In [21]:
d2 = pd.DataFrame()
subj_num = []
for f in glob.glob('*.txt'):
    subj_num.append(int(f.split('.')[0][1:]))
    df = pd.read_csv(f, sep='\t')
    print('read {}!'.format(f))
    db = sp.get_color_info(df)
    db2 = sp.get_RT(df)
    d2 = d2.append(db, ignore_index=True)
    d2 = d2.append(db2, ignore_index=True)
print('Done!')

read s1.txt!
read s11.txt!
read s13.txt!
read s15.txt!
read s18.txt!
read s19.txt!
read s2.txt!
read s20.txt!
read s21.txt!
read s22.txt!
read s24.txt!
read s25.txt!
read s26.txt!
read s27.txt!
read s28.txt!
read s29.txt!
read s30.txt!
read s32.txt!
read s33.txt!
read s34.txt!
read s35.txt!
read s36.txt!
read s37.txt!
read s38.txt!
read s39.txt!
read s4.txt!
read s41.txt!
read s5.txt!
read s6.txt!
read s7.txt!
read s8.txt!
read s9.txt!

In [28]:
d2.head()

,comp_l,comp_r,incomp_l,incomp_r,neut_l,neut_r
0,"[23, 35, 10, 35, 10, 35]","[25, 4, 30, 6, 2, 6]","[20, 3, 2, 4, 30, 20]","[18, 50, 40, 15, 3, 4]","[15, 6, 3, 30, 40, 10]","[24, 2, 15, 10, 15, 30]"
1,"[11, 70, 35, 90, 24, 69]","[55, 100, 95, 40, 89, 28]","[25, 60, 50, 77, 15, 50]","[95, 25, 100, 30, 63, 17]","[80, 1, 85, 25, 72, 88]","[45, 85, 70, 60, 41, 36]"
2,"[40, 10, 15, 7, 17, 10]","[50, 20, 7, 4, 3, 25]","[30, 15, 17, 13, 20, 30]","[20, 2, 12, 15, 24, 17]","[80, 7, 16, 10, 15, 5]","[57, 13, 18, 12, 7, 3]"
3,"[11, 45, 4, 60, 94, 15]","[44, 67, 5, 40, 95, 20]","[55, 56, 2, 15, 98, 12]","[22, 78, 6, 1, 99, 19]","[33, 89, 3, 100, 97, 1]","[66, 34, 1, 85, 96, 94]"
4,"[50, 25, 20, 60, 5, 80]","[36, 40, 12, 30, 95, 15]","[75, 10, 50, 80, 45, 30]","[95, 75, 99, 40, 70, 50]","[23, 85, 0, 0, 30, 85]","[15, 50, 70, 5, 15, 65]"

In [ ]:
# writing means of each condition (comp_l... etc):

for c in d2.columns:
    for i in d2.index:
        d2.loc[i, c] = np.mean(d2.loc[i, c])

In [ ]:
# means of conditions of both hands:

for c in d2.columns:
    for i in d2.index:
        d2.loc[i, 'comp'] = (d2.loc[i, 'comp_l']+d2.loc[i, 'comp_r'])/2
        d2.loc[i, 'incomp'] = (d2.loc[i, 'incomp_l']+d2.loc[i, 'incomp_r'])/2
        d2.loc[i, 'neut'] = (d2.loc[i, 'neut_l']+d2.loc[i, 'neut_r'])/2

In [ ]:
d2.index = subj_num
for i in d2.index:
    if is_odd(i):
        d2.loc[i, 'condition'] = 'info'
    else:
        d2.loc[i, 'condition'] = 'noinfo'

In [ ]:
d2 = d2.loc[np.sort(d2.index), :]
d2.to_excel('BAZA_NONSTAND.xlsx')

In [ ]:
def get_zscores(df):
    inf = sp.get_color_info(df)
    newdf = pd.DataFrame(inf)
    all_ratings = newdf.values.ravel()
    df_zscore = newdf.copy()
    df_zscore.loc[:, :] = stats.zscore(all_ratings).reshape(newdf.shape)
    return df_zscore.mean()

In [ ]:
d1 = pd.DataFrame()
subj_num = []
for f in glob.glob('*.txt'):
    subj_num.append(int(f.split('.')[0][1:]))
    df = pd.read_csv(f, sep='\t')
    print('read {}!'.format(f))
    db = get_zscores(df)
    d1 = d1.append(db, ignore_index=True)

In [ ]:
for c in d1.columns:
    for i in d1.index:
        d1.loc[i, 'comp'] = (d1.loc[i, 'comp_l']+d1.loc[i, 'comp_r'])/2
        d1.loc[i, 'incomp'] = (d1.loc[i, 'incomp_l']+d1.loc[i, 'incomp_r'])/2
        d1.loc[i, 'neut'] = (d1.loc[i, 'neut_l']+d1.loc[i, 'neut_r'])/2

In [ ]:
d1.index = subj_num
for i in d1.index:
    if is_odd(i):
        d1.loc[i, 'condition'] = 'info'
    else:
        d1.loc[i, 'condition'] = 'noinfo'

In [ ]:
d1 = d1.loc[np.sort(d1.index), :]
d1.to_excel('BAZA_STANDARYZOWANA.xlsx')