In [1]:
import numpy as np
import pandas as pd
import os
pth = r'D:\DATA\miniproj\Spra'
fl = 'test.txt'
fullf = os.path.join(pth, fl)

In [2]:
d = pd.read_table(fullf, sep = '\t')
d.head(5)

,Name,Block,Trial,CorrectRespon,Effect,GoalRespInd1,GoalRespInd2,GoalRespInd3,GoalRespInd4,GoalRespInd5,...,TBox2,TBox3,TBox4,TBox5,TBox6,TBoxPew,TrialType,WaitTime,Prime,Target
0,Kasmir,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kasmir,2,1,d,color_orange.png,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,incomp,300,prime_right.png,target_left.png
2,Kasmir,2,2,d,color_purple.png,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,neut,450,prime_left.png,target_left.png
3,Kasmir,2,3,l,color_yellow.png,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,incomp,300,prime_left.png,target_right.png
4,Kasmir,2,4,d,color_green.png,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,comp,450,prime_left.png,target_left.png

In [3]:
checkColumn = 'GoalRespName1'
col = d.loc[d['Block'] == 2, checkColumn]

def ischar(x):
        return isinstance(x, str)

ind = col.map(ischar)
df = d.loc[d['Block'] == 2, :].loc[ind,:]
df

,Name,Block,Trial,CorrectRespon,Effect,GoalRespInd1,GoalRespInd2,GoalRespInd3,GoalRespInd4,GoalRespInd5,...,TBox2,TBox3,TBox4,TBox5,TBox6,TBoxPew,TrialType,WaitTime,Prime,Target
73,Kasmir,2,73,NaN,NaN,2,1,3,6,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Kasmir,2,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20,25,26,50,70,40,NaN,NaN,NaN,NaN

In [7]:
# sprawdzamy jak oszacowana zostala sprawczoÅ›Ä‡ dla kolorÃ³w
tbox = ['TBox{}'.format(i) for i in range(1, 7)]
tb = df.loc[:, tbox].iloc[1, :].values
ratings = tb.astype("int")

In [15]:
col = ['GoalRespName{}'.format(i) for i in range(1, 7)]
coldf = d.loc[d['Block'] == 2, col].loc[ind,:].iloc[0]
sorted_colors = [x.split('.')[0].split('_')[1][0] for x in coldf]
sorted_colors

['p', 'o', 'r', 'y', 'b', 'g']

In [18]:
import superskrypt as sp

In [19]:
coldict = sp.all_colors(d)
coldict

{2: {'b': 'comp_r',
  'g': 'comp_l',
  'o': 'incomp_l',
  'p': 'neut',
  'r': 'neut',
  'y': 'incomp_r'},
 3: {'b': 'neut',
  'g': 'incomp_l',
  'o': 'neut',
  'p': 'comp_l',
  'r': 'incomp_r',
  'y': 'comp_r'},
 4: {'b': 'comp_l',
  'g': 'neut',
  'o': 'incomp_r',
  'p': 'incomp_l',
  'r': 'comp_r',
  'y': 'neut'},
 5: {'b': 'incomp_l',
  'g': 'incomp_r',
  'o': 'comp_r',
  'p': 'neut',
  'r': 'neut',
  'y': 'comp_l'},
 6: {'b': 'neut',
  'g': 'comp_r',
  'o': 'neut',
  'p': 'incomp_r',
  'r': 'comp_l',
  'y': 'incomp_l'},
 7: {'b': 'incomp_r',
  'g': 'neut',
  'o': 'comp_l',
  'p': 'comp_r',
  'r': 'incomp_l',
  'y': 'neut'}}

In [22]:
howsorted = [coldict[2][x] for x in sorted_colors]
for r, c in zip(ratings, howsorted):
    print '{} : {}'.format(c, r)

neut : 15
incomp_l : 20
neut : 25
incomp_r : 26
comp_r : 50
comp_l : 70

In [33]:
reload(sp)

In [34]:
inf = sp.get_color_info(d)
inf

{'comp_l': [70, 1, 65, 60, 40, 14],
 'comp_r': [50, 50, 20, 18, 55, 56],
 'incomp_l': [20, 60, 25, 80, 20, 20],
 'incomp_r': [26, 15, 12, 45, 45, 70],
 'neut': [15, 25, 20, 40, 45, 55, 14, 10, 69, 30, 39, 9]}

In [36]:
newdf = pd.DataFrame(inf)
newdf

   comp_l  comp_r  incomp_l  incomp_r
0      70      50        20        26
1       1      50        60        15
2      65      20        25        12
3      60      18        80        45
4      40      55        20        45
5      14      56        20        70

In [39]:
newdf.mean()

comp_l      41.666667
comp_r      41.500000
incomp_l    37.500000
incomp_r    35.500000
dtype: float64